---
import { storyblokEditable } from '@storyblok/astro';

interface Props {
  blok: {
    backgroundImageUrl: {
      filename: string;
      alt: string;
    };
    imageUrl: {
      filename: string;
      alt: string;
    };
  };
}

const { blok } = Astro.props as Props;
---
<section class="bg-white relative overflow-hidden" {...storyblokEditable(blok)}>
    <img src={blok.backgroundImageUrl.filename} alt={blok.backgroundImageUrl.alt} class="object-cover absolute inset-0 w-full h-full z-0 blur-sm scale-150" />
    <div class={`relative flex items-center justify-center gap-4 max-w-screen-md mx-auto px-6 py-12 z-10 text-white`}>
        <img src={blok.imageUrl.filename} alt={blok.imageUrl.alt} />
    </div>
</section>
