---
import ImageText from '../components/ImageText.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Day Longs">
	<section class="bg-white">
		<div class="flex flex-col items-center justify-center gap-4 max-w-[770px] mx-auto p-6">
			<h2 class="text-[56px] text-center leading-tight text-[#e3be05] txt-shadow">Survivor: Dearborn & GR</h2>
            <h4 class="text-[34px] text-center leading-tight font-survivor text-[#e3be05]">Present:</h4>
            <h6 class="text-[20px] text-center leading-tight">Drinking Survivor</h6>
			<p class="text-center font-fredericka">What's better than three day filmed Survivors? One day drinking Survivors that aren't filmed... probably for the best.</p>
            <p class="text-center font-fredericka">Originating in Oxford, OH, Drinking Survivor quickly became a phenomenon in the Survivor: Dearborn and Grand Rapids community. Alumni were mixed with newbies to play a quick paced one day game of Survivor complete with boozy challenges leading to messy vote outs. Only the best to manage their booze and banter claimed the title and cemented themselves in Survivor lore.</p>
            <p class="text-center font-fredericka">This is their story (from what we remember)</p>
		</div>
	</section>
    <ImageText
        title="Survivor: Miami"
        subtitle="The Alcoholic Outback"
        bgImage="/survivor-gr/images/TAL-maldives-01-WORLDSBESTISLANDS24-82625eb1544a49debecbbeecfc29ac48.jpg"
    >
        <div class="pt-4 flex flex-col gap-4">
            <p class="font-chelsea text-[#e3be05]">The second outing of Day Drinking Survivor upped the level of competition. With a cast of returning players and a plethora of newbies, this season was the juiciest yet.</p>
            <p class="font-chelsea text-[#e3be05]">With big plays and belligerent blindsides, the castaways battled hard to stumble their way to the end. Check out the cast here -</p>
            <p class="font-chelsea text-[#e3be05]">Meet the Cast</p>
        </div>
    </ImageText>
    <ImageText
        title="Survivor: Miami II"
        subtitle="The Alcoholic Outback"
        bgImage="/survivor-gr/images/TAL-maldives-01-WORLDSBESTISLANDS24-82625eb1544a49debecbbeecfc29ac48.jpg"
        image="/survivor-gr/images/SurvivorMiamiII.avif"
        reverse
    >
        <div class="pt-4 flex flex-col gap-4">
            <p class="font-chelsea text-[#e3be05]">The second outing of Day Drinking Survivor upped the level of competition. With a cast of returning players and a plethora of newbies, this season was the juiciest yet.</p>
            <p class="font-chelsea text-[#e3be05]">With big plays and belligerent blindsides, the castaways battled hard to stumble their way to the end. Check out the cast here -</p>
            <p class="font-chelsea text-[#e3be05]">Meet the Cast</p>
        </div>
    </ImageText>
    <ImageText
        title="Survivor: Miami II"
        subtitle="The Alcoholic Outback"
        bgImage="/survivor-gr/images/premium_photo-1661940254003-c3f37e5d32ad.jpeg"
        image="/survivor-gr/images/SurvivorGrand Rapids.avif"
    >
        <div class="pt-4 flex flex-col gap-4">
            <p class="font-chelsea text-[#e3be05]">The second outing of Day Drinking Survivor upped the level of competition. With a cast of returning players and a plethora of newbies, this season was the juiciest yet.</p>
            <p class="font-chelsea text-[#e3be05]">With big plays and belligerent blindsides, the castaways battled hard to stumble their way to the end. Check out the cast here -</p>
            <p class="font-chelsea text-[#e3be05]">Meet the Cast</p>
        </div>
    </ImageText>
    <ImageText
        title="Survivor: Miami II"
        subtitle="The Alcoholic Outback"
        bgImage="/survivor-gr/images/TAL-maldives-01-WORLDSBESTISLANDS24-82625eb1544a49debecbbeecfc29ac48.jpg"
        image="/survivor-gr/images/SurvivorGrandRapids11.avif"  
        reverse
    >
        <div class="pt-4 flex flex-col gap-4">
            <p class="font-chelsea text-[#e3be05]">The second outing of Day Drinking Survivor upped the level of competition. With a cast of returning players and a plethora of newbies, this season was the juiciest yet.</p>
            <p class="font-chelsea text-[#e3be05]">With big plays and belligerent blindsides, the castaways battled hard to stumble their way to the end. Check out the cast here -</p>
            <p class="font-chelsea text-[#e3be05]">Meet the Cast</p>
        </div>
    </ImageText>
    <ImageText
        title="Survivor: Cincinnati"
        subtitle="The Alcoholic Outback"
        bgImage="/survivor-gr/images/premium_photo-1661940254003-c3f37e5d32ad.jpeg"
        image="/survivor-gr/images/survivor cincinnati.avif"  
    >
        <div class="pt-4 flex flex-col gap-4">
            <p class="font-chelsea text-[#e3be05]">The second outing of Day Drinking Survivor upped the level of competition. With a cast of returning players and a plethora of newbies, this season was the juiciest yet.</p>
            <p class="font-chelsea text-[#e3be05]">With big plays and belligerent blindsides, the castaways battled hard to stumble their way to the end. Check out the cast here -</p>
            <p class="font-chelsea text-[#e3be05]">Meet the Cast</p>
        </div>
    </ImageText>
</Layout>
