---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dearborn">
    <section class="bg-white">
		<div class="flex flex-col items-center justify-center gap-4 max-w-[770px] mx-auto p-6">
			<h2 class="text-[56px] text-center leading-tight text-[#e3be05] txt-shadow">Survivor:<br />Dearborn</h2>
            <h6 class="text-[20px] text-center leading-tight font-museo">The First Generation</h6>
			<p class="text-center font-fredericka">The series that started it all. Originally filmed in 2016, Season 1 pitted 18 every day Americans against each other where only one came out on top. Three seasons later, 47 castaways gave the game their best shot to create one of the best tetralogies on the internet. Check out how the legacy began now streaming on YouTube!</p>
		</div>
	</section>
</Layout>
