---
import Layout from '../layouts/Layout.astro';
import { Image as AstroImage } from 'astro:assets';

import season1Group from '../assets/images/season-1-group.avif';
import season2Group from '../assets/images/season-2-group.avif';
import season3Group from '../assets/images/season-3-group.avif';
import season4Group from '../assets/images/season-4-group.avif';
---

<Layout title="Dearborn">
    <section class="bg-white">
		<div class="flex flex-col items-center justify-center gap-4 max-w-[770px] mx-auto p-6">
			<h2 class="text-[56px] text-center leading-tight text-[#e3be05] txt-shadow">Survivor:<br />Dearborn</h2>
            <h6 class="text-[20px] text-center leading-tight font-museo">The First Generation</h6>
			<p class="text-center font-fredericka">The series that started it all. Originally filmed in 2016, Season 1 pitted 18 every day Americans against each other where only one came out on top. Three seasons later, 47 castaways gave the game their best shot to create one of the best tetralogies on the internet. Check out how the legacy began now streaming on YouTube!</p>
		</div>
	</section>
	<section class="bg-white relative overflow-hidden">
		<div class={`relative flex sm:flex-row flex-col items-center justify-center gap-4 max-w-[1024px] mx-auto p-6 z-10 text-white`}>
			<div class="flex flex-col basis-3/5 gap-2">
				<h5 class="font-chelsea text-[#e3be05] text-[25px]">Survivor: Grand Rapids<br />Fresh Meat</h5>
				<p class="font-fredericka text-black">The fifth installment of the series is the reboot we needed. 18 new castaways take on the role of fresh meat, navigating the game four years in the making. joined by two Survivor: Dearborn alumni, this season is sure to make its mark in the series history.</p>
				<p class="font-fredericka text-black">Who will come out on top and claim the first ever title of sole survivor in Grand Rapids?</p>
				<div class="flex flex-row gap-4">
					<a class="bg-[#e3be05] border-[#e3be05] py-2 px-4 border hover:border-solid hover:bg-[#c9a504] text-white hover:text-white font-survivor text-[14px]" href="#">Watch to Find Out</a>
					<a class="bg-white border-[#e3be05] py-2 px-4 border hover:border-solid hover:bg-[#c9a504] text-[#e3be05] hover:text-white font-survivor text-[14px]" href="#">Meet the Cast</a>
				</div>
			</div>
			<div class="basis-2/5 flex">
				<AstroImage src={season1Group} alt="" />}
			</div>
		</div>
	</section>
	<section class="bg-white relative overflow-hidden">
		<div class={`relative flex sm:flex-row flex-col items-center justify-center gap-4 max-w-[1024px] mx-auto p-6 z-10 text-white`}>
			<div class="flex flex-col basis-3/5 gap-2">
				<h5 class="font-chelsea text-[#e3be05] text-[25px]">Survivor: Grand Rapids<br />Bad Blood</h5>
				<p class="font-fredericka text-black">Filmed in the summer of 2023, Season 6 brought 20 castaways back to the backyard.</p>
				<p class="font-fredericka text-black">In a season like never before, who will come out on top and claim the first ever title of sole survivor in Grand Rapids? Find out in 2024!</p>
				<div class="flex flex-row gap-4">
					<a class="bg-[#e3be05] border-[#e3be05] py-2 px-4 border hover:border-solid hover:bg-white text-white hover:text-[#e3be05] font-survivor text-[14px]" href="#">Watch the Trailer</a>
					<a class="bg-white border-[#e3be05] py-2 px-4 border hover:border-solid hover:bg-[#e3be05] text-[#e3be05] hover:text-white font-survivor text-[14px]" href="#">Meet the Cast</a>
				</div>
			</div>
			<div class="basis-2/5 flex">
				<AstroImage src={season2Group} alt="" />}
			</div>
		</div>
	</section>
</Layout>
