---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Fan Favorite Voting">
	<section class="bg-white">
		<div class="flex flex-col items-center justify-center gap-4 max-w-[770px] mx-auto p-6">
			<h2 class="text-[56px] text-center leading-tight text-[#e3be05] txt-shadow">Fan Favorite Voting</h2>
            <h6 class="text-[20px] text-center leading-tight">Survivor: Grand Rapids - Bad Blood</h6>
			<p class="text-center font-fredericka">Your favorite castaways are currently out in the backyard playing their hearts out. Support them by casting your vote for the Fan Favorite Player of the Season!</p>
            <p class="text-center font-fredericka">Click the link, select your favorite player, and press submit. You can vote for whoever you want for as many times as you want. </p>
            <p class="text-center font-fredericka">Voting closes the day of the finale!</p>
            <a href="" class="bg-[#3f7652] py-2 px-4 rounded-2xl transform transition-transform duration-200 hover:scale-105 font-survivor text-[#e3be05]">Vote Now!</a>
		</div>
	</section>
</Layout>
