---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Grand Rapids">
    <section class="bg-white">
		<div class="flex flex-col items-center justify-center gap-4 max-w-[770px] mx-auto p-6">
			<h2 class="text-[56px] text-center leading-tight text-[#e3be05] txt-shadow">Survivor:<br />Grand Rapids</h2>
            <h6 class="text-[20px] text-center leading-tight font-museo">The Next Gen</h6>
			<p class="text-center font-fredericka">You thought we were finished? After four years since Heroes v Villains, Survivor is back in Michigan - this time on the West Side of the state. A new group of castaways take on the greatest game and carry on the legacy of those that came before them.</p>
		</div>
	</section>
</Layout>
