---
import Image from '../components/Image.astro';
import Layout from '../layouts/Layout.astro';
import season4Group from '../assets/images/season-4-group.avif';
---

<Layout title="Season 4 - Heroes vs Villains">
    <section class="bg-white">
		<div class="flex flex-col items-center justify-center gap-4 max-w-[770px] mx-auto p-6">
			<h2 class="text-[56px] text-center leading-tight text-[#e3be05] txt-shadow">Season 4</h2>
            <h6 class="text-[20px] text-center leading-tight font-museo">Heroes vs Villains</h6>
			<p class="text-center font-fredericka">For Survivor: Dearborn's fourth and final season, we came out swinging. A massive cast of 24 returning players took on the game for the final time in the backyards of Dearborn. They were divided into two tribes based on their previous seasons - the Heroes and Villains. What followed was an epic conclusion to a season three years in the making.</p>
            <a class="bg-[#e3be05] border-[#e3be05] py-2 px-4 border hover:border-solid hover:bg-white text-white hover:text-[#e3be05] font-survivor text-[14px]" href="https://youtu.be/-5_jDFAQ7j0">Check out Season 4</a>
		</div>
	</section>
	<Image image={season4Group} />
</Layout>
