---
import Image from '../components/Image.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Season 3 - Fans vs Favorites">
    <section class="bg-white">
		<div class="flex flex-col items-center justify-center gap-4 max-w-[770px] mx-auto p-6">
			<h2 class="text-[56px] text-center leading-tight text-[#e3be05] txt-shadow">Season 3</h2>
            <h6 class="text-[20px] text-center leading-tight font-museo">Fans vs Favorites</h6>
			<p class="text-center font-fredericka">After two incredible seasons, a new batch of players took on the game. Little did they know they would be facing off against eleven returning veterans. The Fans took on the Favorites in this bloodbath of a season. Filled with backstabbing and betrayal, each episode showed how far castaways were willing to go to claim the title of sole survivor.</p>
            <a class="bg-[#e3be05] border-[#e3be05] py-2 px-4 border hover:border-solid hover:bg-white text-white hover:text-[#e3be05] font-survivor text-[14px]" href="https://www.youtube.com/watch?v=NDuAV_O6gBA&list=PLKdBCkUjpzdTHsGPNY7IK-QUFkjbOhwqw">Check out Season 3</a>
		</div>
	</section>
	<Image image="/survivor-gr/images/season-3-group.avif" />
</Layout>
