---
import Image from '../components/Image.astro';
import Layout from '../layouts/Layout.astro';
import season6Group from '../assets/images/season-6-group.avif';
---

<Layout title="Season 6 - Bad Blood">
    <section class="bg-white">
		<div class="flex flex-col items-center justify-center gap-4 max-w-[770px] mx-auto p-6">
			<h2 class="text-[56px] text-center leading-tight text-[#e3be05] txt-shadow">Season 6</h2>
            <h6 class="text-[20px] text-center leading-tight font-museo">Bad Blood</h6>
			<p class="text-center font-fredericka">After Fresh Meat's triumphant return, a new batch of castaways signed up for their chance at the game. Players from across the United States made their way back to the backyard of summer 2023 for a game like never before.</p>
            <a class="bg-[#e3be05] border-[#e3be05] py-2 px-4 border hover:border-solid hover:bg-white text-white hover:text-[#e3be05] font-survivor text-[14px]" href="https://www.youtube.com/watch?v=6l35M7RvQNY&t=2s">Check out Season 6</a>
		</div>
	</section>
    <Image image={season6Group} />
</Layout>
