---
import Layout from '../layouts/Layout.astro';
import Image from '../components/Image.astro';
import season5Group from '../assets/images/season-5-group.avif';
---

<Layout title="Season 5 - Fresh Meat">
    <section class="bg-white">
		<div class="flex flex-col items-center justify-center gap-4 max-w-[770px] mx-auto p-6">
			<h2 class="text-[56px] text-center leading-tight text-[#e3be05] txt-shadow">Season 5</h2>
            <h6 class="text-[20px] text-center leading-tight font-museo">Fresh Meat</h6>
			<p class="text-center font-fredericka">After four long years on a hiatus, Survivor returned to Michigan - this time on the West Side of the state. Two former players returned looking to find redemption, while eighteen new castaways entered looking to make their mark on the game. This season upped the game to a level of competitiveness like never before. With riveting gameplay and memorable players, Fresh Meat proudly carries on Dearborn's legacy.</p>
            <a class="bg-[#e3be05] border-[#e3be05] py-2 px-4 border hover:border-solid hover:bg-white text-white hover:text-[#e3be05] font-survivor text-[14px]" href="https://youtu.be/MOVh8fy-gF8">Check out Season 5</a>
		</div>
	</section>
    <Image image={season5Group} />
</Layout>
