---
---
<div class="flex flex-col items-center">
    <!-- Logo Section -->
    <div class="py-2">
        <img src="/public/Season6Real.avif" alt="Logo" class="h-16" />
    </div>

    <div class="w-full bg-black text-white h-14"></div>
</div>
