---
const currentRoute = Astro.url.pathname;

function textColor(route: string) {
    return currentRoute === route ? 'text-gray-400' : 'text-white';
}
---
<div class="flex flex-col items-center">
    <!-- Logo Section -->
    <div class="py-2">
        <img src="/public/Season6Real.avif" alt="Logo" class="h-16" />
    </div>
    
    <!-- Navigation Bar -->
    <div class="w-full bg-black text-white">
        <div class="container mx-auto flex flex-col items-center py-4">
            <!-- Navigation Links -->
            <ul class="flex space-x-8">
                <li><a href="/" class={`hover:text-gray-400 font-survivor ${textColor('/')}`}>Home</a></li>
                <li><a href="#about" class={`hover:text-gray-400 font-survivor ${textColor('#about')}`}>Dearborn</a></li>
                <li><a href="#services" class={`hover:text-gray-400 font-survivor ${textColor('#services')}`}>Grand Rapids</a></li>
                <li><a href="/day-longs" class={`hover:text-gray-400 font-survivor ${textColor('/day-longs')}`}>Day Longs</a></li>
                <li><a href="/fan-favorite-voting" class={`hover:text-gray-400 font-survivor ${textColor('/fan-favorite-voting')}`}>Fan Favorite Voting</a></li>
            </ul>
        </div>
    </div>
</div>
