---
import Nav from "./Nav.astro"
import MobileNav from "./MobileNav.astro"

import getNavigation from "../storyblok/api/getNavigation";
const navigation = await getNavigation();

---
<nav class="hidden md:block">
    <Nav navigation={navigation} />
</nav>
<nav class="md:hidden" transition:persist>
    <MobileNav navigation={navigation} />
</nav>
